.container {
	width: 100%;
	height: 100vh;
	background-image: url(../img/back-foto.jpg);
	background-size: cover;
	font-family: "Verdana", sans-serif;
	line-height: 21px;
}

.header {
	height: 54px;
	background-color: rgba(0, 0, 0, 0.4);
}

a {
	text-decoration: none;
}

.green-link {	
	color: #3cb878;
	transition: border-bottom 0.5s ease-out 0.5s;
}

.green-link:hover {
	border-bottom: 1px solid #3cb878;
}

.logo {
	float: left;
	padding-left: 81px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;	
	color: #fff;
	transition: color 1s 0.5s;
}

.logo:hover {
	color: #3cb878;
}

.welcome-bar{
	float: right;
	margin-right: 75px;
	padding-left: 20px;
	border-left: 1px solid #2f2d2c;
	font-size: 14px;
	color: #fff;
}

.sprite-bar {
	float: right;
}

li {
	display: inline-block;
}

.sprite-caledar:hover {
	background-position: -34px -5px;
}

.sprite-forum:hover {
	background-position: -101px -5px;
}

.sprite-journey:hover {
	background-position: -169px -5px;
}

.login-form {
	position: relative;
	top: calc(50% - 319px);
	margin: 0 auto;
	padding-top: 12px;
	width: 444px;
	height: 584px;
	box-sizing: border-box;
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
	border-radius: 15px;
	background-color: #fff;
	text-align: center;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.sign-up {
	float: left;
	padding-left: 61px;
	color: #434343;
}

.green-square {
	position: absolute;
	top: 29px;
	width: 18px;
	height: 18px;
	background-color: #3cb878;
}

.log-in {
	float: right;
	padding-right: 61px;
}

.btn {
	width: 157px;
	height: 46px;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	border: 0;
}

.btn-text {
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
}

.fb {
	background-color: #305db8;
	transition: background-color 0.5s 0.5s;
}

.fb:hover {
	background-color: #264b96;
}

.ggl {
	background-color: #df4a32;
	transition: background-color 0.5s 0.5s;
}

.ggl:hover {
	background-color: #c3412c;
}

.fab {
	padding: 0 10px 2px 0;
	vertical-align: middle;
	font-size: 20px;
}

.fa-facebook-f {
	border-right: 1px solid #1d4287;
}

.fa-google-plus-g {
	border-right: 1px solid #b03823;
}

.line-or {
	margin: 0 61px;
	padding: 20px 0 5px;
	height: 20px;
}

hr {
	height: 1px;
	border: none;
	background-color: lightgrey;
}

.or {
	position: relative;
	left: 131px;
	bottom: 28px;
	width: 60px;
	height: 20px;
	background-color: #fff;
	color: #848484;
}

.input-item {
	margin: 7px 0;
	padding-left: 17px;
	width: 322px;
	height: 46px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	font-size: 14px;
	color: #434343;
}

::placeholder {
	font-size: 14px;
	color: #bebebe;
}

.input-item:focus {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
	outline: none;
}

.check-box {
	margin-left: 61px;
	text-align: left;
	color: #000;
}

.agree {
	padding-left: 13px;
	color: #434343;
}

.create {
	width: 322px;
	background-color: #3cb878;
	transition: background-color 0.5s 0.5s;
}

.create:hover {
	background-color: #2e9b65;
}